# Port on which the API server runs
PORT=3001

# Connection URI for the MongoDB Database
MONGO_URI=mongodb://localhost:27017/school-admission

# JSON Web Token configurations
JWT_SECRET=generate_a_secure_random_string_here
JWT_EXPIRY=1d
